# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Electron CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [created]

jobs:
  build:

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
          - os: windows-latest
            name: windows

    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup Bun runtime
      uses: oven-sh/setup-bun@v1
      with:
          bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Build
      run: bun run make

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
          name: ${{ matrix.name }}-build-artifact
          path: out/make
          retention-days: 7

    - name: Upload to release
      if: github.event_name == 'release'
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
          find out/make -type f \( -name "*.exe" -o -name "*.deb" -o -name "*.zip" \) -exec gh release upload "${{ github.ref_name }}" {} --clobber \;
