# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Electron CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Setup Bun runtime
      uses: oven-sh/setup-bun@v1
      with:
          bun-version: latest
          
    - name: Install dependencies
      run: bun install
      
    - run: bun run make --platform=linux --arch=x64
    
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
          name: linux-build-artifact # A meaningful name for your artifact
          path: /home/runner/work/grandicast/grandicast/out/make # The file or directory path to upload
          retention-days: 7 # Optional: how long to keep the artifact (default is 90 days)
